<div class="myHeader">
  <mat-toolbar color="primary">
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <span>My Quiz App</span>

      <span class="example-spacer"></span>
        <div class="example-button-row">
          <a mat-raised-button class="login-signUp-button" [routerLink]="['/login']">login</a>
          <a mat-raised-button class="login-signUp-button" [routerLink]="['/signUp']">Sign Up</a>
        </div>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
      </button>
      <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
      </button> -->
      <!-- <button mat-icon-button 
      matBadgePosition="before"  aria-label="Example icon-button with home icon">
      <mat-icon matBadge="15" matBadgeColor="warn">home</mat-icon>
      </button> -->
      <!-- <button mat-stroked-button  aria-label="Show an example snack-bar">
        Shut up
      </button>  -->
    </mat-toolbar>
  </div>