<div class="footer" style="   background-color: #1c3781;">
    <div class="mat-grid-list">
      <mat-grid-list cols="4"  rowHeight="3:2" >
        <mat-grid-tile >
          <div class="mat-grid-tile-content">
            <mat-card class="example-card">
             
              <img mat-card-image src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT38DAFHjRN_KLMEnm_Q89yFlsRzl60G_CSMg&usqp=CAU" alt="Photo of a Shiba Inu">
              <mat-card-content>
                <p>
                  First published in 1869, Nature is the world's leading multidisciplinary science journal. Nature publishes the finest peer-reviewed research that drives ....
                </p>
              </mat-card-content>
            
            </mat-card>
           
        </div>
        </mat-grid-tile>
        <mat-grid-tile >
          <div class="mat-grid-tile-content">
            <h4>Learn</h4>
            <mat-list-item role="listitem">About Us</mat-list-item>
            <mat-list-item role="listitem">Legal & Privacy</mat-list-item>
            <mat-list-item role="listitem">Support</mat-list-item>
            <mat-list-item role="listitem">Contact Us</mat-list-item>
            <mat-list-item role="listitem">Terms & Conditions</mat-list-item>
        </div>
        </mat-grid-tile>
       
        <mat-grid-tile >
          <div class="mat-grid-tile-content">
            <h4>Contact</h4>
            <mat-list-item role="listitem">+91 525 2525 2252</mat-list-item>
            <mat-list-item role="listitem">waliullah.in</mat-list-item>
            <mat-list-item role="listitem">Phase-1 Okhla New Delhi</mat-list-item>
            <mat-list-item role="listitem">
              <div class="social-icon"><mat-icon >facebook-box</mat-icon></div>
              <div class="social-icon"> <mat-icon >send</mat-icon></div>
              <div class="social-icon"> <mat-icon >apple</mat-icon></div>
              <div class="social-icon"> <mat-icon >whatsapp</mat-icon></div>
            </mat-list-item>
        </div>
        </mat-grid-tile>
          
        
      </mat-grid-list>
    </div>
      <div class="copyright" style="text-align: center; width: 100%; background-color: black; color: white;height: 25px;">
        <p>waliullah © 2021 Crypto Currreny Hudson All Rights Reserved.</p>
      </div>
     
    </div>